.icon {
  transition: all 0.6s ease-in-out;
}
.box-functionality:hover .icon {
  color: rgb(255, 255, 255);
  /* transform: scale(1.2); */
  transform: rotateY(360deg);
}
.box-functionality {
  border-color: rgb(243, 243, 243);
}

.box-functionality:hover {
  background: linear-gradient(
    200deg,
    rgba(255, 255, 255, 0.4038749288778011) 51%,
    rgba(212, 171, 51, 0.23300658153886555) 100%
  );
}


