.active-content {
  display: flex;
}

.content {
  display: none;
}

.tab button {
  display: flex;
  min-width: 245px;
}

.scrollable-tabs {
  max-height: 630px;
  overflow-y: scroll;
  scrollbar-width: thin;
  padding-top: 200px;
  scrollbar-color: #ffbb0084 rgba(128, 128, 128, 0.11);
}

/* .right-tab{
  width: 3000px;
} */
